[Unit]
Description=Sirius RF TCU6 - IOC
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple
User=iocuser
Group=ioc

WorkingDirectory=/opt/cas-rf-tcu6/iocBoot/iocTCU6
ExecStart=/usr/local/bin/procServ -L - --allow -f --chdir /opt/cas-rf-tcu6/iocBoot/iocTCU6 20208 ./st.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
